h1{
    font-size: 100px;
    font-weight: normal;
    color: brown;
    border-top-left-radius: ;
    border: aqua;
    border-color: gold;
}
h2{
    font-size: 50px;
    font-weight: normal;
    border:rgb(0, 255, 42);
    font-style: italic;
    border-color: chartreuse;
    
}