#black{
    background-color: black;
}
.mainbox{
    background-color:darkorange ;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    display: flex;
    align-items: center;
    margin: 100px;
    
}
#b{
    background-color:darkgreen;
    height: 300px;
    width: 300px;
    border-radius: 300px;
    position: relative;
   
    margin-left: 50px ;
    margin: 50px;
    left: 50px;
    z-index: 2;
    display: flex;
    align-items: center;

}
#a{background-color:aliceblue;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    z-index: 4;
    position: relative;
    left: 70px;

}